[submodule "third_party/implot"]
	path = third_party/implot
	url = https://github.com/epezent/implot.git
[submodule "third_party/ImGuiFileDialog"]
	path = third_party/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
